* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'avenir';
  font-size: 22px;
  background-color:#fffcf6f5;
  padding-bottom: 50px;
}


.navbar {
  background-color:#89ABE3FF;
}

.h {
  color:#000000;
  text-align: center;
}

p {
  color:#000000;
  font-size: 22px;
}

.profileimg {
    width:300px;
    height:300px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
}

#mark {
  display: inline-block;
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, #ffd0ae70 35%);
  color: rgb(0, 0, 0);
}

#a {
  background-color:#89ABE3FF;
  color: rgb(255, 255, 255);
}

#a:hover {
  background-color:#ffd0aeb6;
  color: white;
}

.round-btn {
  width: 50px; 
  height: 50px; 
  padding: 10px 10px; 
  border-radius: 25px; 
  font-size: 10px; 
  text-align: center;
  background:#89ABE3FF;
}


#iconsfa {
  font-size:30px;
  color:white;
}